extends layout

block content
  .container
    .panel
      .panel-body
        div.form-horizontal
          legend About Pillo
          .row
            .col-xs-12
              ul
                li: p Pillo is a simple medication reminder, made for an oblivious friend.
                li: p
                  | Pillo is an Open Source software released under 
                  a(href='https://github.com/KayvanMazaheri/pillo/blob/master/LICENSE') The MIT License
                  | .
                  br
                  |   You can access the code on 
                  a(href='https://github.com/KayvanMazaheri/pillo') Pillo's Github page
                  | .
    .panel  
      .panel-body
        div.form-horizontal
          legend Donate
          .row
            .col-xs-12
              p Here are some ideas for donation and motivating us to improve Pillo
          .row
            .col-xs-6.col-sm-4.col-md-3
              .thumbnail
                img.img-responsive(src='/assets/image/doughnut.png', alt='doughnut', style='padding: 1em;')
                .caption
                  h3.text-center
                    | Doughnut 
                    br
                    small 5,000 IRT
                  //p Buy me a doughnut 
                  p
                    a.btn.btn-success.btn-block(href='https://zarinp.al/86017', role='button') (っ˘ڡ˘ς)
            .col-xs-6.col-sm-4.col-md-3
              .thumbnail
                img.img-responsive(src='/assets/image/coffee.png', alt='coffee', style='padding: 1em;')
                .caption
                  h3.text-center
                    | Cup of Coffee 
                    br
                    small 10,000 IRT
                  //p Buy me a cup of coffee 
                  p
                    a.btn.btn-success.btn-block(href='https://zarinp.al/86019', role='button') (　・ω・)⊃-[二二]
            .col-xs-6.col-sm-4.col-md-3
              .thumbnail
                img.img-responsive(src='/assets/image/open-book.png', alt='open-book', style='padding: 1em;')
                .caption
                  h3.text-center
                    | A Book 
                    br
                    small 30,000 IRT
                  //p Everyone enjoys a good book
                  p
                    a.btn.btn-success.btn-block(href='https://zarinp.al/86020', role='button') ٩(◕‿◕)۶
            .col-xs-6.col-sm-4.col-md-3
              .thumbnail
                img.img-responsive(src='/assets/image/spotify.png', alt='spotify', style='padding: 1em;')
                .caption
                  h3.text-center
                    | Spotify Premium 
                    br
                    small 50,000 IRT
                  //p One month of Spotify Premium 
                  p
                    a.btn.btn-success.btn-block(href='https://zarinp.al/86022', role='button') ♪♬((d⌒ω⌒b))♬♪
            .col-xs-6.col-sm-4.col-md-3
              .thumbnail
                img.img-responsive(src='/assets/image/ssd.png', alt='ssd', style='padding: 1em;')
                .caption
                  h3.text-center
                    | SSD 
                    br
                    small 200,000 IRT
                  //p SSD means more speed! 
                  p
                    a.btn.btn-success.btn-block(href='https://zarinp.al/86023', role='button') ／(=･ x ･=)＼
            .col-xs-6.col-sm-4.col-md-3
              .thumbnail
                img.img-responsive(src='/assets/image/imac.png', alt='display', style='padding: 1em;')
                .caption
                  h3.text-center
                    | 20" Display 
                    br
                    small 500,000 IRT
                  //p A large display? Nice! 
                  p
                    a.btn.btn-success.btn-block(href='https://zarinp.al/86024', role='button') ヽ(°〇°)ﾉ
            .col-xs-6.col-sm-4.col-md-3
              .thumbnail
                img.img-responsive(src='/assets/image/laptop.png', alt='laptop', style='padding: 1em;')
                .caption
                  h3.text-center
                    | New Laptop 
                    br
                    small 3,000,000 IRT
                  //p Wow, a new laptop! 
                  p
                    a.btn.btn-success.btn-block(href='https://zarinp.al/86025', role='button') \(^ヮ^)/