extends layout

block content
  .container
    .row
      .col-xs-12.col-sm-offset-2.col-sm-8
        .panel#about
          .panel-body
            div.form-horizontal
              legend.text-center Oops!
              .row
                .col-xs-12
                  h3.text-warning.text-center #{status}
